---
import ThemeToggle from '../components/Themetoggle';
import Layout from '../layouts/Layout.astro';
import { AnimateFragments } from '../components/Hero'
import Jobs from '../components/Jobs'
// import Navbar from '../components/Navbar'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <head slot="head">
		<title>Dark Mode in Astro</title>
	</head> -->
	<main class="bg-white min-h-screen text-black dark:bg-[#161616] dark:text-gray-300 transition-colors duration-300 pb-32">

		<section class="fixed left-0 top-0 w-full bg-[#eff3f4] dark:bg-[#1c1c1c] py-3 z-50">
			<div class="mx-6 flex gap-3 items-center justify-between">
				<div class="flex gap-3 items-center">
					<img src="/author.png" class=" w-12 object-top" alt="">
					<div class="flex flex-col gap-0">
						<p class="font-semibold text-sm dark:text-secondary">Mich Rodriguez</p>
						<p class="text-xs font-medium text-terteary">Frontend React</p>
					</div>
				</div>
	
				<ThemeToggle client:load/>
			</div>
		</section>

		<section class="pt-28">
			<div class="mx-6 flex flex-col gap-4">
			  <h1 class="text-4xl text-balance text-gray-800 font-semibold min-h-fit dark:text-secondary">
				Soy Mich.
				<AnimateFragments 
				client:load 
				value={"Desarrollador frontend <span class=\"text-terteary\">React.</span>"}					
				/>
			  </h1>
			  <div class="sm:aspect-auto dark:text-terteary min-h-min text-pretty">
				<AnimateFragments 
				client:load 
				value={"Hola <a href=\"/yo\" class=\"text-terteary font-semibold dark:text-secondary flex items-center gap-2\"><img src=\"/author_home.png\" class=\"w-7 inline\" alt=\"\" /> Soy Mich</a>, construyo <a href=\"/\" class=\"flex items-center gap-3 text-white\"><div class=\"px-4 py-0 rounded-xl bg-primary text-white flex items-center justify-center\"><span class=\"inline-flex\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" width=\"24\" height=\"24\" color=\"currentColor\" fill=\"none\"><path d=\"M20.0001 11.9998L4.00012 11.9998\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\" /><path d=\"M15.0003 17C15.0003 17 20.0002 13.3176 20.0002 12C20.0002 10.6824 15.0002 7 15.0002 7\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\" /></svg></span></div><p class=\"text-terteary font-semibold dark:text-secondary\">proyectos</p></a> funcionales, con alto rendimiento, precisión y experiencias únicas."}				
			  />
			  </div>
		  
			  <div class="flex gap-3 text-center mt-0 flex-wrap">
				<a href="" class="border-2 rounded-lg bg-[#eff3f4] border-[#eff3f4] dark:bg-[#2c2c2c] dark:border-[#2c2c2c] text-xs py-2 px-1.5">¿Por qué elegirme?</a>
				<a href="" class="border-2 rounded-lg border-[#eff3f4] dark:border-[#2c2c2c] text-xs py-2 px-1.5">Colaboremos !</a>
			  </div>
			</div>
		</section>

		<section class="pt-14 flex flex-col gap-6">
			<h2 class="text-2xl text-gray-800 font-semibold dark:text-secondary mx-6">Últimos proyectos</h2>
			<div class="mx-6 flex flex-col gap-8">
			  <main class="flex gap-4">
				<Jobs client:visible/>
				<aside class="flex flex-col gap-1">
						<div class="flex flex-col gap-1 sticky top-[71px] bg-white w-full dark:bg-[#161616]">
						<h3 class="font-semibold">Tech lead - Rand abogados</h3>
						<p class="text-xs text-terteary">Septiembre 2024, Diciembre 2024</p>
					</div>
					<img src="/rand.png" alt="" class="mt-5 rounded-lg">
					<p class="text-terteary mt-3">ABC Cafe, a local coffee shop with a loyal customer base, wanted to undergo a rebranding to attract a younger demographic and stand out in a competitive market. The challenge was to modernize their brand identity without alienating their existing customers.</p>
					<a href="" class="text-terteary">Leer más</a>
				</aside>
			  </main>
			</div>
			<div class="mx-6 flex flex-col gap-8">
			  <main class="flex gap-4">
				<Jobs client:visible/>
				<aside class="flex flex-col gap-1">
						<div class="flex flex-col gap-1 sticky top-[71px] bg-white w-full dark:bg-[#161616]">
						<h3 class="font-semibold">Desarrollador front-end - Medibiologica</h3>
						<p class="text-xs text-terteary">Septiembre 2024, Diciembre 2024</p>
					</div>
					<img src="/rand.png" alt="" class="mt-5 rounded-lg">
					<p class="text-terteary mt-3">ABC Cafe, a local coffee shop with a loyal customer base, wanted to undergo a rebranding to attract a younger demographic and stand out in a competitive market. The challenge was to modernize their brand identity without alienating their existing customers.</p>
					<a href="" class="text-terteary">Leer más</a>
				</aside>
			  </main>
			</div>
			<div class="mx-6 flex flex-col gap-8">
			  <main class="flex gap-4">
				<Jobs client:visible/>
				<aside class="flex flex-col gap-1">
						<div class="flex flex-col gap-1 sticky top-[71px] bg-white w-full dark:bg-[#161616]">
						<h3 class="font-semibold">DevOps fullStack Engineer  - Nomad Technologies</h3>
						<p class="text-xs text-terteary">Septiembre 2024, Diciembre 2024</p>
					</div>
					<img src="/rand.png" alt="" class="mt-5 rounded-lg">
					<p class="text-terteary mt-3">ABC Cafe, a local coffee shop with a loyal customer base, wanted to undergo a rebranding to attract a younger demographic and stand out in a competitive market. The challenge was to modernize their brand identity without alienating their existing customers.</p>
					<a href="" class="text-terteary">Leer más</a>
				</aside>
			  </main>
			</div>
		  </section>


	</main>

</Layout>

<style>
	.blob {
		animation: morph 3.6s linear infinite;
		border-collapse: separate;
		outline: .35rem solid #2c2c2c;
	}
		
	@keyframes morph {
		0%,
		100% {
		border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
		-webkit-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
		-moz-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
		}
		34% {
		border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
		-webkit-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
		-moz-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
		}
		67% {
		border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
		-webkit-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
		-moz-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
		}
	}
</style>


