---
import ThemeToggle from "../components/Themetoggle";
import Layout from "../layouts/Layout.astro";
import { AnimateFragments } from "../components/Hero";
import Jobs from "../components/Jobs";
import Technologies from "../components/Technologies";
import { AwsIcon, GoogleIcon, GitHubIcon, Postman, Notion, Figma, TailwindIcon, NextJS} from '../icons/Icons'
import TechFront from '../sections/TechFront'
import TechColaborate from '../sections/TechColaborate'
import TechCloud from '../sections/TechCloud'
import Header from "../components/Header";
import Particles from '../components/ui/Particles'
// import NextJS from "../icons/NextJS.astro";

---

<Layout>

  <main
    class="bg-white min-h-screen text-black dark:bg-[#161616] dark:text-gray-300 transition-colors duration-300 pb-32"
  >
  
    <Header client:only="react"/>

    <!-- Hero section -->
    <section class="pt-32">
      <div class="mx-6 flex flex-col gap-4 relative z-30">
        <div class="text-xs flex items-center gap-2">
          <div class="w-3 h-3 bg-green-400 rounded-full bg-opacity-35 flex items-center justify-center animate-pulse">
            <div class="w-1 h-1 bg-green-400 rounded-full"></div>
          </div>

          <p>Disponible para trabajar!</p>
         
        </div>
        <h1
          class="text-4xl text-balance text-gray-800 font-semibold min-h-fit dark:text-secondary"
        >
          Soy Desarrollador
          <AnimateFragments
            client:load
            value={'<span class="font-medium bg-gradient-to-r from-gray-500 to-gray-800 bg-clip-text text-transparent dark:from-gray-300 dark:to-gray-700">frontend React.</span>'}
          />
        </h1>
        <div
          class="sm:aspect-auto text-gray-800 min-h-min text-pretty dark:text-terteary"
        >
          <AnimateFragments
            client:load
            value={'Hola, <a href="/yo" class="text-[#313438d4] font-extrabold dark:text-secondary dark:font-semibold flex items-center gap-2"><img src="/author_home.png" class="w-7 inline" alt="" /> Soy Mich. </a>Desarrollo experiencias únicas, combinando rendimiento y precisión a través de <a href="/" class="flex items-center gap-3 text-white"><div class="px-3 py-0 rounded-xl bg-primary text-white flex items-center justify-center"><span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" color="currentColor" fill="none"><path d="M20.0001 11.9998L4.00012 11.9998" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /><path d="M15.0003 17C15.0003 17 20.0002 13.3176 20.0002 12C20.0002 10.6824 15.0002 7 15.0002 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /></svg></span></div><p class="text-[#313438d4] font-extrabold dark:text-secondary dark:font-semibold">productos funcionales.</p></a>'}
          />
        </div>

        <div class="flex gap-3 text-center mt-4 flex-wrap relative">
          <a
            href=""
            class="border-2 rounded-lg bg-[#eff3f4] border-[#eff3f4] dark:bg-[#2c2c2c] dark:border-[#2c2c2c] text-xs py-2 px-1.5"
            >¿Por qué elegirme?</a
          >
          <a
            href=""
            class="border-2 rounded-lg bg-[#161616] border-[#eff3f4] dark:border-[#2c2c2c] text-xs py-2 px-1.5"
            >Colaboremos !</a
          >
          <div class="absolute right-[120px] bottom-[-2rem] -z-10 h-24 w-24">
            <Particles client:load/>
          </div>
        </div>
      </div>
    </section>

    <!-- Stack Section -->


    

    <!-- Last projects section -->
    <section class="pt-20 flex flex-col gap-6 relative z-30">
      <div class="flex flex-col gap-1">
        <h2
          class="text-2xl text-gray-800 font-semibold dark:text-secondary mx-6"
        >
          Últimos proyectos
        </h2>
        <p class="mx-6 text-sm text-gray-800 dark:text-terteary">
          Explora mis proyectos, donde explico el proceso, la metodología
          utilizada y los detalles clave de su ejecución.
        </p>
      </div>
      <div class="mx-6 flex flex-col gap-8">
        <main class="flex gap-4">
          <Jobs client:visible />
          <aside class="flex flex-col gap-1">
            <div
              class="flex flex-col gap-1  top-[71px] "
            >
              <h3 class="font-semibold">Tech lead - Rand abogados</h3>
              <p class="text-xs text-terteary">
                Septiembre 2024, Diciembre 2024
              </p>
            </div>
            <img src="/rand.png" alt="" class="mt-5 rounded-lg" />
            <p class="text-terteary mt-3 line-clamp-5 text-justify">
              ABC Cafe, a local coffee shop with a loyal customer base, wanted
              to undergo a rebranding to attract a younger demographic and stand
              out in a competitive market. The challenge was to modernize their
              brand identity without alienating their existing customers.
            </p>
            <div class="flex items-center gap-2 mt-2">
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <Figma client:only="react" />
                </div>
                <p class="text-xs font-semibold">Figma</p>
              </a>
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <NextJS client:only="react" />
                </div>
                <p class="text-xs font-semibold">Next</p>
              </a>
              <a class="flex items-center gap-1.5 bg-[#111111ed] w-fit rounded-full py-1 px-2.5 min-h-[28px]">
                <div class="w-5">
                  <TailwindIcon client:only="react" />
                </div>
                <p class="text-xs font-semibold">Tailwind</p>
              </a>

            </div>
          </aside>
        </main>
      </div>
      <div class="mx-6 flex flex-col gap-8">
        <main class="flex gap-4">
          <Jobs client:visible />
          <aside class="flex flex-col gap-1">
            <div
              class="flex flex-col gap-1  top-[71px] bg-white w-full dark:bg-[#161616]"
            >
              <h3 class="font-semibold">
                Desarrollador front-end - Medibiologica
              </h3>
              <p class="text-xs text-terteary">
                Septiembre 2024, Diciembre 2024
              </p>
            </div>
            <img src="/rand.png" alt="" class="mt-5 rounded-lg" />
            <p class="text-terteary mt-3">
              ABC Cafe, a local coffee shop with a loyal customer base, wanted
              to undergo a rebranding to attract a younger demographic and stand
              out in a competitive market. The challenge was to modernize their
              brand identity without alienating their existing customers.
            </p>
            <a href="" class="text-terteary">Leer más</a>
          </aside>
        </main>
      </div>
      <div class="mx-6 flex flex-col gap-8">
        <main class="flex gap-4">
          <Jobs client:visible />
          <aside class="flex flex-col gap-1">
            <div
              class="flex flex-col gap-1  top-[71px] bg-white w-full dark:bg-[#161616]"
            >
              <h3 class="font-semibold">
                DevOps fullStack Engineer - Nomad Technologies
              </h3>
              <p class="text-xs text-terteary">
                Septiembre 2024, Diciembre 2024
              </p>
            </div>
            <img src="/rand.png" alt="" class="mt-5 rounded-lg" />
            <p class="text-terteary mt-3">
              ABC Cafe, a local coffee shop with a loyal customer base, wanted
              to undergo a rebranding to attract a younger demographic and stand
              out in a competitive market. The challenge was to modernize their
              brand identity without alienating their existing customers.
            </p>
            <a href="" class="text-terteary">Leer más</a>
          </aside>
        </main>
      </div>
    </section>
  </main>
</Layout>

<style>
  .scroll_hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll_hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

</style>
