---
import ThemeToggle from '../components/Themetoggle';
import Layout from '../layouts/Layout.astro';
import { AnimateFragments } from '../components/Hero'
// import Navbar from '../components/Navbar'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <head slot="head">
		<title>Dark Mode in Astro</title>
	</head> -->
	<main class="bg-white min-h-screen text-black dark:bg-[#161616] dark:text-gray-300 transition-colors duration-300 pb-32">

		<section class="fixed left-0 top-0 w-full bg-[#eff3f4] dark:bg-[#1c1c1c] py-3">
			<div class="mx-6 flex gap-3 items-center justify-between">
				<div class="flex gap-3 items-center">
					<img src="/author.png" class=" w-12 object-top" alt="">
					<div class="flex flex-col gap-0">
						<p class="font-semibold text-sm dark:text-secondary">Mich Rodriguez</p>
						<p class="text-xs font-medium text-terteary">Desarrollador front-end</p>
					</div>
				</div>
	
				<ThemeToggle client:load/>
			</div>
		</section>

		<section class="pt-28">
			<div class="mx-6 flex flex-col gap-4">
			  <h1 class="text-4xl text-secondary font-semibold min-h-fit">
				Hola, soy Mich.
				<AnimateFragments 
				client:load 
				value={"Frontend <span class=\"text-terteary\">React.</span>"}					
				/>
			  </h1>
			  <div class="sm:aspect-auto text-terteary min-h-min">
				  <AnimateFragments 
					client:load 
					value={"Hola, <a href=\"/yo\" class=\"text-secondary flex items-center gap-2\"><img src=\"/author_home.png\" class=\"w-9 inline\" alt=\"\" /> Soy Mich</a> frontend <span class=\"\">Developer</span> Me gusta ir más allá del código: desarrollo experiencias que conectan, funcionan y sorprenden. "}
				  />
			  </div>
		  
			  <div class="flex gap-3 text-center mt-0 flex-wrap">
				<a href="" class="border-2 rounded-lg bg-[#2c2c2c] border-[#2c2c2c] text-xs py-2 px-1.5">Conoceme más</a>
				<a href="" class="border-2 rounded-lg border-[#2c2c2c] text-xs py-2 px-1.5">¿Hablamos sobre un proyecto?</a>
			  </div>
			</div>
		</section>

	</main>

</Layout>

<style>
	.blob {
		animation: morph 3.6s linear infinite;
		border-collapse: separate;
		outline: .35rem solid #2c2c2c;
	}
		
	@keyframes morph {
		0%,
		100% {
		border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
		-webkit-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
		-moz-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
		}
		34% {
		border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
		-webkit-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
		-moz-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
		}
		67% {
		border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
		-webkit-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
		-moz-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
		}
	}
</style>


